/* Universal Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #2B2E30;
}

h1, h2 {
  font-family: "Hind", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 32px;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

p {
  line-height: 1.4;
  margin-bottom: .5rem;
}

a {
  text-decoration: none;
  color: #131619;
}

b {
  font-weight: 600;
}

.small {
  font-size: .75rem;
  margin-bottom: 0;
}

img{
  border-radius: 6px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.bg-gray {
  background-color: #E7E7E8;
}

/* Header */


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 64px;
  padding: 0 24px;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo{
  display: none;
  height: 32px;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #131619;
}

.logo p {
  margin-bottom: -1px;
}

.logo span {
  font-weight: 300;
}

nav ul {
  display: none;
}

ul span {
  margin-left: 16px;
  padding: 19px 0;
  font-size: 0.75rem;
}

ul span:hover {
  border-bottom: 3px solid #FFD30F;
}


@media only screen and (min-width: 600px) {
  .mobile-nav {
    display: none;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  nav ul {
    display: block;
  }
}


/* Hero */

.hero {
  box-shadow: 0px 1px 5px rgba(19, 22, 25, .25);
  padding: 0;
}

.hero img {
  width: 100%;
  border-radius: 0;
}

.banner-text {
  padding: 32px 16px;
}

.hero h3 {
  margin-bottom: 24px;
}

.btn {
  background-color: #transparent;
  color: #EDBF00;
  padding: 8px;
  border: 1px solid #EDBF00;
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  max-width: 100%;
}

.btn:hover {
  background-color: #EDBF00;
  color: #131619;
  transition: all 200ms linear;
}

.btn:active {
  opacity: .8;
  position: relative;
  top: 1px;
  transition: all 200ms linear;
}

@media only screen and (min-width: 724px) {
  .hero {
    box-shadow: none;
    padding: 32px 12px;
    border-top: 1px solid #C7C7C8;
    border-bottom: 1px solid #C7C7C8;
  }

  .hero .container {
    display: flex;
    align-items: center;
  }

  .hero img {
    width: 50%;
    margin: 0 12px;
    border-radius: 6px;
  }

  .banner-text {
    width: 50%;
    padding: 0 12px;
  }
}

@media only screen and (min-width: 992px) {
  .hero img {
    width: 60%;
  }

  .banner-text {
    width: 40%;
    max-width: 400px;
  }

  .btn {
    width: 60%;
  }
}

/* Campus Info */

.featured {
  display: none;
}

.items {
  width: 100%;
}

.item {
  padding: 16px;
}

.item a {
  color: #EDBF00;
  font-weight: 500;
  font-size: 0.8rem;
}

.item img {
  max-width: 100%;
}

.mobile-img {
  display: block;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 480px){
  .items {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}

@media only screen and (min-width: 768px){
  .mobile-img {
    display: none;
  }

  .desktop {
    display: block;
  }

  .featured {
    display: block;
    padding: 32px 24px;
    width: 50%;
    text-align: left;
  }

  .featured h2 {
    text-align: left;
  }

  .featured img {
    max-width: 100%;
    height: auto;
    margin-bottom: 32px;
  }

  .featured .quote {
    margin-bottom: 32px;
  }

  .items {
    width: 50%;
    margin: 0;
    padding: 16px 0;
  }

  .item {
    display: flex;
    align-items: center;
  }

  .item img {
    width: 35%;
    margin-right: 16px;
  }

  .item .copy {
    width: 65%;
    padding: 0;
  }

  .item:hover {
    background-color: center;
  }

}

@media only screen and (min-width: 992px){
  .featured {
    width: 60%;
  }

  .items {
    width: 40%;
  }

}


/* Courses Section */

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 64px;
}

.course {
  margin: 32px 8px;
  width: 30%;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0px 1px 5px rgba(19, 22, 25, .25);
}


.course:hover {
  box-shadow: 0px 2px 15px rgba(19, 22, 25, .35);
  transition: box-shadow 200ms;
  cursor: pointer;
}

.course img {
  max-width: 100%;
  height: auto;
}

.copy {
  padding: 16px;
}

.course p {
  color: #A1A2A3;
}

.course .small {
  font-weight: 500;
  letter-spacing: .5px;
  margin-bottom: 8px;
}

/* Thesis Section */

video {
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 24px;
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #B8B9BA;
  padding: 16px 24px 32px 24px;
}

footer a {
  margin-left: 12px;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  width: 0;
  bottom: -1px;
  background: #EDBF00;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

footer .underline:after {
  bottom: -2px;
  background: #2B2E30;
  height: 3px;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  width: 100%;
}



@media only screen and (max-width: 490px){
  .links {
    display: none;
  }

  footer {
    padding-bottom: 16px;
  }
}
